.payment {
    display: grid;
                grid-template-columns:  2fr 1fr;
                /* grid-auto-rows: 100px; */
                gap: 5px;
}

.payment1 {
    display: flex;
    flex-direction: column;

}
